.DS_Store
HHLD-CHAT-APP/auth-backend/node_modules
HHLD-CHAT-APP/backend/node_modules
HHLD-CHAT-APP/frontend/hhld-chat-fe-2/.next
HHLD-CHAT-APP/frontend/hhld-chat-fe-2/node_modules
HHLD-CHAT-APP/frontend/hhld-chat-fe/.next
HHLD-CHAT-APP/frontend/hhld-chat-fe/node_modules
HHLD-CHAT-APP/Demo.mov
HHLD-Youtube/client/node_modules
HHLD-Youtube/client/.next
HHLD-Youtube/transcoder_service/ca.pem
HHLD-Youtube/transcoder_service/local.mp4
HHLD-Youtube/transcoder_service/test.mp4
HHLD-Youtube/transcoder_service/node_modules
HHLD-Youtube/transcoder_service/output
HHLD-Youtube/upload_service/node_modules
HHLD-Youtube/upload_service/ca.pem
HHLD-Youtube/upload_service/generated
HHLD-Youtube/upload_service/prisma/migrations
HHLD-Youtube/watch_service/node_modules
HHLD-Youtube/watch_service/generated
HHLD-Youtube/opensearch/lambda/node_modules
HHLD-Youtube/opensearch/lambda/ca.pem
HHLD-STOCK-BROKER/client/node_modules
HHLD-STOCK-BROKER/client/.next
HHLD-STOCK-BROKER/market_data_service/node_modules
HHLD-STOCK-BROKER/market_data_service/complete.csv
HHLD-STOCK-BROKER/order_mgr_service/node_modules
HHLD-STOCK-BROKER/watchlist_service/node_modules

